@media(max-width: 768px) {
    h1 {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.375rem;
        color: red;
    }
    
    .modules-list {
        width: 100%;
    }

    .logo img {
        width: 12.5rem;
    }

    #professional-challenges img {
        width: 18.75rem;
    }

    #transform-world p {
        width: 100%;
        font-size: 1.56rem;
    }

    #transform-world {
        padding: 0;
    }
}